@{
    if (User.Identity.IsAuthenticated)
    {
        ViewData["Title"] = "SignalR Realtime Code Editor";
    } else
    {
        ViewData["Title"] = "Sign In - SignalR Realtime Code Editor";
    }
}

<style type="text/css" media="screen">
    #editor {
        height: 500px;
        width: inherit;
    }
</style>

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        string role = "";
        foreach (var pair in User.Claims)
        {
            if (pair.Type.Contains("role"))
            {
                role = pair.Value;
                break;
            }
        }

        string user = "";
        foreach (var pair in User.Claims)
        {
            if (pair.Type.Contains("username"))
            {
                user = pair.Value;
                break;
            }
        }

        if (role == "TextEditor.Lock")
        {
            <form method="post" action="/Home/StartNewSession">
                <input type="hidden" value="@user">
                <input type="submit" value="Start A New Session">
            </form>
            <br>
            <div>Or, enter a session code</div>
            <form method="post" action="/Home/EnterSession">
                <label for="sessionCode">Session Code:</label><br>
                <input type="text" id="sessionCode"><br>
                <input type="submit" value="Enter Session">
            </form>
        }
        else
        {
            <div>Enter a session code to join</div>
            <form method="post" action="/Home/EnterSession">
                <label for="sessionCode">Session Code:</label><br>
                <input type="text" id="sessionCode"><br>
                <input type="submit" value="Enter Session">
            </form>
        }
    }
    else
    {
        <h6 class="display-4">Sign In with Azure Active Directory</h6>
        <a class="btn-link" id="test" value="Sign Me In" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign Me In</a>
    }
</div>

